/*縮圖瀏覽*/

.thumbnail{clear:both;margin:0;}

.thumbnail ul{list-style:none;margin:0 12px;padding:10px 0;}
.thumbnail ul>li{padding:9px 0;margin:5px 0 20px;text-align:center;background:#fff;box-shadow:rgba(0,0,0,.4) 0 1px 5px;transition:.2s;}
.thumbnail .image{display:block;margin:0 9px;}
.thumbnail .image img{display:block;width:100%;height:auto;}
.thumbnail li p{margin:.5em 10px 0;padding:0;text-align:justify;line-height:1.5;}
.thumbnail li ol{list-style:none;margin:.7em 10px .4em;padding:.7em 0 0;border-top:1px dotted #bbb;text-align:left;color:#888;line-height:1.3;overflow:hidden;}
.thumbnail li li{margin:.5em 0 0;padding:0;}
.thumbnail li li:first-child{margin-top:0;}
.thumbnail li li em{color:#333;}
.thumbnail li li.count em{font-weight:bold;}
.thumbnail li a{text-decoration:none;}
.thumbnail li li.from:before{content:'上傳單位：';font-size:0;}
.thumbnail li li.date:before{content:'上傳日期：';font-size:0;}

.thumbnail.photos ul>li>a{display:block;position:relative;}
.thumbnail.photos li li.date,
.thumbnail.videos li li.date{float:left;}
.thumbnail.photos li li.count,
.thumbnail.videos li li.count{float:right;}

.thumbnail.videos ul>li{position:relative;}
.thumbnail.videos li p:before{content:'影片名稱：';font-size:0;}
.thumbnail.videos .image{background:#000;height:auto;}
.thumbnail.videos .play{position:absolute;top:9px;left:9px;right:9px;height:200px;font-size:0;}

.thumbnail.banners ul>li{padding:0;}
.thumbnail.banners ul>li:hover{box-shadow:rgba(0,0,0,.5) 0 4px 12px -2px;}
.thumbnail.banners ul>li .image{margin:0;padding:0;}

.thumbnail.eBooks ul{width:92vw;max-width:500px;margin:0 auto;text-align:center;}
.thumbnail.eBooks ul>li>a{display:block;}
.thumbnail.eBooks li h3{padding:0;margin:0 9px .5em;line-height:1.1;text-align:center;color:#000;}
.thumbnail.eBooks .image{border:1px solid #bbb;margin-bottom:.8em;}
.thumbnail.eBooks li p{line-height:1.5em;}
.thumbnail.eBooks li p.downloadPdf{display:inline-block;max-width:94%;margin:.5em 0 0;padding:0 2% .6em;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.thumbnail.eBooks li p.downloadPdf a{display:block;height:2.4em;line-height:2.5;margin:0 auto;padding:0 1.2em 0;background:#7c8785;color:#fff;border-radius:2.5em;box-shadow:#555d5d 0 3px 0, #000 0 5px 2px;}
.thumbnail.eBooks li p.downloadPdf a:hover,
.thumbnail.eBooks li p.downloadPdf a:focus{background-color:#666d6c;color:#cf0;outline:none;}
.thumbnail.eBooks li li{text-align:left;}
.thumbnail.eBooks li li.date{float:left;}
.thumbnail.eBooks li li.count{float:right;}
.thumbnail.eBooks li li.duration{clear:left;float:left;}
.eBooks .bid{padding:.6em 10px;margin:12px 0 -9px;overflow:hidden;background:#666d6c;color:#ddd;font-family:"courier new";border:none;}
.eBooks .bid li{margin:0;}
.eBooks .bid li+li{margin-top:.2em;}
.eBooks .bid li em{color:#fff}
.bid:empty{display:none;}

@media (min-width:681px){
	.thumbnail{margin:5px 0 20px;}
	.thumbnail ul{list-style:none;margin:0 auto;padding:10px 0;overflow:hidden;line-height:100%;}
	.thumbnail ul>li{float:left;padding:9px 0 6px;margin-left:1%;margin-right:1%;text-align:center;width:47%;height:20.5em;}
	.thumbnail ul>li:nth-child(2n+1){margin-left:2%;}
	.thumbnail .image{margin:0 9px;overflow:hidden;height:12em;}
	.thumbnail .image img{margin:0;padding:0;width:100%;height:100%;object-fit:cover;}
	.thumbnail ul>li p{text-align:left;line-height:1.5;max-height:4.5em;overflow:hidden;}
	.thumbnail li ol{overflow:hidden;}

	.thumbnail.photos ul>li{height:23.5em;}
	.thumbnail.photos ul>li p{height:4.4em;}
	.thumbnail.photos .image{height:15em;}

	.thumbnail.videos ul>li{height:24.5em}
	.thumbnail.videos .image img{height:auto;}
	.thumbnail.videos li p{height:2.8em;}
	.thumbnail.videos li li.from{height:1.4em;overflow:hidden;}
	.thumbnail.videos .play a{background-size:56px;}

	.thumbnail.banners ul>li{height:160px;}
	.thumbnail.banners ul>li .image{height:150px;overflow:hidden;padding:5px;}
	.thumbnail.banners ul>li .image img{max-height:100%;max-width:100%;object-fit:contain;}

	.thumbnail.eBooks ul{max-width:none;}
	.thumbnail.eBooks ul>li{float:none;vertical-align:top;display:inline-block;height:auto;}
	.thumbnail.eBooks li .image{max-width:95%;height:auto;overflow:visible;}
	.thumbnail.eBooks li h3,
	.thumbnail.eBooks li li{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
}
@media (min-width:820px){
	.thumbnail ul>li{margin-left:.8%;margin-right:.8%;width:31%;height:20.5em;}
	.thumbnail ul>li:nth-child(2n+1){margin-left:.8%;}
	.thumbnail ul>li:nth-child(3n+1){margin-left:2.1%;}

	.thumbnail.photos ul>li>a:before{content:'';position:absolute;left:0;top:0;right:0;height:100%;z-index:9;border:1px solid #c00;display:none;}
	.thumbnail.photos ul>li>a:focus:before{display:block;}

	.thumbnail.videos ul>li{height:22em}

	.thumbnail.banners ul>li{height:130px;}
	.thumbnail.banners ul>li .image{height:120px;}
	.thumbnail.banners ul>li>a:focus{outline:1px solid red;}

	.thumbnail.eBooks ul{width:100%;max-width:1060px;}
	.thumbnail.eBooks ul>li{margin-left:.6%;margin-right:.6%;}
	.thumbnail.eBooks li .image img{box-shadow:#aaa 0 0 0 1px;transition:.2s;}
	.thumbnail.eBooks li a:hover img{box-shadow:#333 0 0 0 1px;box-shadow:rgba(0,0,0,.4) 0 6px 16px 2px;}
	.thumbnail.eBooks li>a:hover h3{text-decoration:underline;}
	.thumbnail.eBooks li a:focus{outline:2px solid #c00;}
}

@media (min-width:1060px){
	.thumbnail ul>li{height:24.5em;}
	.thumbnail .image{height:16em;}
	.thumbnail.videos ul>li{height:22.5em}
	.thumbnail.banners ul>li{width:24%;margin:10px .5%;}
}


/*======================================================================*/
/*======================================================================*/


/* 電子期刊 */
.thumbnail.eMags ul>li{position:relative;height:29em;padding-bottom:6em;}
.thumbnail.eMags ul>li h3{height:1.2em;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;font-size:1.2em;line-height:1.2;margin:0 9px;}
.thumbnail.eMags ul>li h3 a{color:#000;}
.thumbnail.eMags ul>li h3 a:hover{color:#d00;}
.thumbnail.eMags ul>li h3 a:focus{color:#d00;}
.thumbnail.eMags ul>li .image{margin:0 9px .8em;height:18em;width:auto;text-align:center;}
.thumbnail.eMags ul>li .image img{max-height:18em;max-width:100%;object-fit:scale-down;box-shadow:rgba(0,0,0,.5) 0 6px 4px;border:none;display:inline-block;margin:0 auto;}
.thumbnail.eMags li ol{margin:.5em 9px;padding:0;height:auto;border:none;overflow:hidden;}
.thumbnail.eMags ul>li p{height:4.4em;overflow:hidden;margin:.3em 9px .7em;padding:0;}
.thumbnail.eMags ul>li p:empty{display:none;}
.thumbnail.eMags ul>li p + ul{padding-top:.5em; border-top:1px dotted #bbb;}
.thumbnail.eMags li.from , .thumbnail.eMags li.date , .thumbnail.eMags li.duration{display:block;font-weight:normal;margin-bottom:.3em;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.thumbnail.eMags li.date{float:left;} .thumbnail.eMags li.duration{float:right;}
.thumbnail.eMags li.from em , .thumbnail.eMags li.date em , .thumbnail.eMags li.duration em{font-weight:normal;}
.thumbnail.eMags ul ol + ol{position:absolute;left:9px;bottom:14px;text-align:left;margin:0;width:35%;}
.thumbnail.eMags li.count{float:none;min-width:0;display:block;text-align:left;margin-top:.7em;}
.thumbnail.eMags li button{position:absolute;right:10px;bottom:10px;width:42%;display:inline-block;height:2.8em;line-height:2em;margin:.6em 0 0;padding:0 .4em;border:none;border-radius:4px;background:#7faf0b;color:#fff;font-size:1.06em;cursor:pointer;}
.thumbnail.eMags li button:hover{background-color:#a0cc00;}
.thumbnail.eMags li button:focus{background-color:#a0cc00;}
@media (max-width:1059px){
	.thumbnail.eMags li.date , .thumbnail.eMags li.duration{float:none;}
}
@media (max-width:680px){
	.thumbnail.eMags ul>li{height:auto;padding-bottom:4.2em;}
	.thumbnail.eMags ul>li p{height:auto;max-height:4.4em;}
}


.thumbnail.apps ul{overflow:visible; margin:0 1em 1em;}
.thumbnail.apps ul>li{position:relative;width:auto; height:auto; min-height:150px;margin:0 0 20px; padding:10px 80px 10px 10px;overflow:hidden; text-align:left;}
.thumbnail.apps ul>li .image{width:150px;height:150px;margin:0 10px 0 0; float:left;}
.thumbnail.apps li .image img{display:block;margin:0 auto;width:150px;height:150px;}
.thumbnail.apps ul>li h3,
.thumbnail.apps ul>li h4{display:block;width:auto;padding:0; margin:0 8px .6em;font-size:1.05em;line-height:1.3;}
.thumbnail.apps ul>li h4{font-size:.93em; color:#777; font-weight:normal;}
.thumbnail.apps ul>li p{margin:0 8px;padding:0;line-height:1.6; height:auto;}
.thumbnail.apps ul ol{position:absolute; right:0; top:0; bottom:0;width:50px;padding:10px; margin:0;text-align:center; background:#444; color:#ccc;border:none;}
.thumbnail.apps ul ol:before{content:'下載'; display:block; margin:2px auto 6px;}
.thumbnail.apps li li{height:auto;margin:6px 0 4px;padding:0;}
.thumbnail.apps li li a{display:block;background:url(../images/appIcons.bmp) no-repeat 0 0;width:36px;height:36px;margin:0 auto;font-size:0;}
.thumbnail.apps li li a:hover{box-shadow:#fff 0 0 3px 1px;border-radius:3px}
.thumbnail.apps li li a:focus{border:1px solid #fc0;}
.thumbnail.apps li li.sysAndroid a{background-position:-40px 0;}
.thumbnail.apps li li.sysWin a{background-position:-80px 0;}

@media (max-width:1072px){
	.thumbnail.apps ul{margin:0 12px;}
}
/*------honor 榮譽榜*/
.thumbnail.honor ul>li{height:26em;background:#f7f7f3;text-align:center;}
.thumbnail.honor li .image{display:inline-block;height:14em;max-width:90%;background:#fff;padding:4px;box-shadow:rgba(0,0,0,0.4) 0 1px 4px;margin:.5em auto 0;}
.thumbnail.honor li .image img{margin:0;padding:0;width:auto;max-width:100%;max-height:14em;object-fit:scale-down;}
.thumbnail.honor li p{text-align:center;height:auto;width:auto;line-height:120%;}
.thumbnail.honor li .image+p{font-size:1.2em;letter-spacing:4px;}
.thumbnail.honor li p a{display:inline-block;padding:0 .8em;height:2.2em;line-height:2.3em;background-color:#7c8785;color:#fff;border-radius:2em;}
.thumbnail.honor li p a:hover{background-color:#ac0}
.thumbnail.honor li p a:focus{background-color:#ac0;outline:none;}
@media (max-width:680px){
	.thumbnail.honor ul>li{height:auto;padding-top:1em;padding-bottom:1em;}
	.thumbnail.honor li .image{height:auto;}
	.thumbnail.honor li .image img{max-height:none;}
	.thumbnail.honor li p{text-align:center;}
	.thumbnail.honor li .image+p{font-size:1.2em;letter-spacing:4px;}
	.thumbnail.honor li p a{display:inline-block;padding:.3em .8em .2em;background-color:#7c8785;color:#fff;border-radius:2em;}

	.thumbnail.apps ul>li{padding-right:10px;max-width:none;}
	.thumbnail.apps ul>li h3,
	.thumbnail.apps ul>li h4,
	.thumbnail.apps ul>li p{margin-left:0; margin-right:0;}
	.thumbnail.apps ul ol{position:static; width:auto; margin:10px -10px -10px;}
	.thumbnail.apps ul ol:before{float:left;margin:9px 10px 0 0; font-size:.9em;width:20%;}
	.thumbnail.apps li li{float:left;margin:0; width:25%;}
}
@media (max-width:420px){
	.thumbnail.apps ul>li .image{width:auto;height:auto;max-width:100%; margin:0 0 12px 0; float:none; display:block;}
	.thumbnail.apps ul>li .image img{width:auto;height:auto; max-width:100%;}
}
